/* /* :root {
    --accent-color: #2196f3;
    --subtitle-color: #212121;
    --text-color: #757575;
    --transition-anime: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
p{
 margin-top: 0;
 margin-bottom: 0;
}

ul{
 margin-top: 0;
 margin-bottom: 0;
 padding-left: 0;
 }

img{
 display: block;
}

button{
 cursor: pointer;
}

body{
    background: #FFFFFF;
    font-family: 'Roboto', sans-serif;
        
}

.staff-container{
 background-color: #F5F4FA;
}

.current{
    color: var(--accent-color);
}
                /* <Закголовок хедера */

/* .page-header{
  border-bottom: 1px solid #ECECEC;
}

.page-header-container{
    display: flex;
    
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
        
}

.page-nav{
    display: flex;
        
}

.logo{
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
}

.logo-lab,
.footer-logo-social__logo-lab{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;

}

.link{
    position: relative;
    display: block;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--subtitle-color);
    text-decoration: none;
    padding: 32px 0;

    transition: color var(--transition-anime);
    
}

.link-studio{
    position: relative;
    display: block;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--subtitle-color);
    text-decoration: none;
    padding: 32px 0;

    transition: background-color var(--transition-anime);
}

.link-studio.current::after{
    position: absolute;
    content: "";
    bottom: -1px;
    left: 0;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color)
}

.link-portfolio{
    position: relative;
    display: block;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--subtitle-color);
    text-decoration: none;
    padding: 32px 0;

    transition: background-color var(--transition-anime);
}

.link-portfolio.current::after {
    position: absolute;
    content: "";
    bottom: -1px;
    left: 0;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color)
}

.link-item{
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-decoration: none;
    margin-left: auto;
    margin-right: 50px;

    transition: color var(--transition-anime);
}
.link-icon-envelop{
    margin-right: 10px;
    width: 16px;
    height: 12px;
    color: var(--text-color);

    transition: fill var(--transition-anime);
}

.link-icon-phone{
    margin-right: 10px;
    width: 10px;
    height: 16px;
    color: var(--text-color);

    transition: fill var(--transition-anime);
}

.link:hover,
.link-item:hover,
.link-studio:hover,
.link-portfolio:hover,
.link:focus,
.link-item:focus,
.link-studio:focus,
.link-portfolio:focus{
   
    color: var(--accent-color);
    fill: var(--accent-color);

}

.link-icon-phone:hover,
.link-icon-envelop:hover,
.link-icon-phone:focus,
.link-icon-envelop:focus{
    
    fill: var(--accent-color);
}

.footer-logo-social__link-item-footer:hover,
.footer-logo-social__link-item-footer:focus{
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
}

.items{
    display: flex;
            
    margin-left: auto;
    list-style: none;
}

.items-header,
.contakts{
    display: flex;
    align-items: center;
    
    margin-left: auto;
    list-style: none;
    
}

.contakts:hover,
.contakts:focus{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    color: var(--accent-color);
}

.letter{
    text-decoration: none;
    margin-right: 10px;
    
}

.phone{
    text-decoration: none;
    margin-right: 10px;
    
}

.list-item{
    width: 270px;
    margin-left: 30px;
}

.list-item:first-child{
    margin-left: 0;
}

.box-icons{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 270px;
    height: 120px;
    background: #F5F4FA;
}

.box-icons-items{

    width: 70px;
    height: 70px;
    
}

.menu-items:not(:last-child){
    margin-right: 50px;
} */

                /* основна з секціями main phase*/

/* .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    

}

.container-work{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    
}

.container-staff{
    display: flex;
    flex-direction: column;

    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    
}

.items-staff{
    display: flex;
    justify-content: center;
 
    gap: 30px;
    
    list-style: none;

}

.main{
    padding: 200px 0;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), 
    url("../images/mainimage.jpg");
    background-size:cover;
    background-color: #C4C4C4;
    
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
    
}

.section-wokr{
    padding-bottom: 94px;
}

.title{
    width: 696px;
    margin: 0 auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    
}

.button{
   padding-top: 10px;
   padding-bottom: 10px;
   border: none;
   padding-left: 32px;
   padding-right: 32px;
   margin-top: 30px;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.06em;
   color: #FFFFFF;
   background-color: var(--accent-color);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;

   transition: box-shadow var(--transition-anime), background-color var(--transition-anime);
}

.button:hover,
.button:focus{
    
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

}

.subtitle{
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--subtitle-color);
    margin-bottom: 10px;
}

.text{
    text-align: start;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.dsr{
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--subtitle-color);
}

.items-work{
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    
}

.work-list{
    margin-left: 30px;
}

.work-list:first-child{
    margin-left: 0;
}


.work-list-box{
    position: relative;
          
}

.thumb{
    position: absolute;

    height: 70px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
}

.work-list-diskr{
            
    margin-top: 27px;
    margin-bottom: 27px;
     
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
         
}

.staff-border-box{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.staff-box{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #FFFFFF;
}
.staff-name{
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--subtitle-color);
}

.staff-position{
    margin-top: 10px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--text-color);

}

.staff-social{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
}

.social-footer__social-list,
.social-list{
    list-style: none;

}

.social-items-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #AFB1B8;
    background-color: #FFFFFF;

    transition: fill var(--transition-anime),background-color var(--transition-anime);
}

.social-items-link:hover,
.social-items-link:focus{
        
    fill: #FFFFFF;
    background-color:var(--accent-color);
   
}

.items-company{
    display: flex;
    list-style: none;
    gap: 30px;
}

.list-company{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 170px;
    max-height: 92px;
    
    
    border-radius: 4px;
    color: #AFB1B8;
}

.section-company{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.client-link{
    display: flex;
    max-width: 170px;
    max-height: 92px;
    
    border: 1px solid var(--text-color);
    border-radius: 4px;
    fill: #AFB1B8;
    transition: fill var(--transition-anime), border var(--transition-anime);
    
}

.client-link:hover,
.client-link:focus{
   
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.companies{
    color: #AFB1B8;
    
    margin-top: 16px;
} */

                /* Підвал */

/* .footer-logo-social__logo-footer{
    display: flex;
        
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
}

.footer-logo-social__logo-lab-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-logo-social__link-item-footer {
    transition: color var(--transition-anime);

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    margin-top: 9px;

}

.footer{
    height: 252px;
    background: #2F303A;
    padding: 60px 0;
}

.footer-logo{
    display: flex;
    
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    
}
.footer-logo-social{
    display: flex;
    flex-direction: column;
}

.footer-logo-social__content{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-top: 20px;
}  

.footer-logo-social__items-footer{
    
    text-decoration: none;
    list-style: none;

} 

.footer-logo-social__link-footer{
    margin-bottom: 9px;
    text-decoration: none;
    list-style: none;
}

.social-footer{
    display: flex;
    flex-direction: column;
    margin-left: 70px;

    
}

.social-footer__motivation{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.social-footer__social-items-footer{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #FFFFFF;
    background: rgba(255, 255, 255, 0.1);

    transition: background-color var(--transition-anime);
   
}

.social-footer__social-items-footer:hover,
.social-footer__social-items-footer:focus{
    
    background-color: var(--accent-color);
}

.social-footer__social-footer-items{
    display: flex;
    
    gap: 10px;
    
    text-decoration: none;
    list-style: none;
} */

                 /* пошта у футере */

/* .footer-email-form{
    display: flex;
    flex-direction: column;
    
    width: 570px;
    height: 86px;
    margin-left: 93px;
    
    
}

.footer-email-form__form-email{
    display: flex;
    
}

.footer-email-form__form-email-dscr{
    display: flex;
    height: 50px;
}

.footer-email-form__text-email{
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer-email-form__form-email-input{
    box-sizing: border-box;
    width: 358px;
    height: 100%;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;
    color: #FFFFFF;

}

.footer-email-form__form-email-button{
    display: flex;
    min-width: 200px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 29px;
    margin-left: 12px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    border-color: transparent;

    transition: background-color var(--transition-anime);
     
}

.footer-email-form__form-email-button:hover,
.footer-email-form__form-email-buttonn:focus{
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

}

.footer-email-form__button-text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.footer-email-form__icon{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
} */
                /* Портфоліо */
/* .buttons-container__buttons{
    
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    border: none;
    line-height: 1.63;
    padding: 6px 22px;
    letter-spacing: 0.03em;
    color: var(--subtitle-color);
    background: #F5F4FA;
    border-radius: 4px;

    transition: box-shadow var(--transition-anime), background-color var(--transition-anime), color var(--transition-anime);

}
.buttons-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.buttons-container__items-buttons{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 50px;
    list-style: none;
  
}
    
.buttons-container__buttons:hover,
.buttons-container__buttons:focus {
    
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    

}
.items-portfolio{
    display: flex;
    flex-wrap: wrap;
    
    gap: 30px;
    margin-left: auto;
    
    list-style: none;
}

.items-portfolio__cards{
    transition: box-shadow var(--transition-anime);

    background: #FFFFFF;
}

.items-portfolio__cards:hover,
.items-portfolio__cards:focus{
    
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16) 

}

.items-portfolio__cards:hover .overlay{
    transform: translate(0,0);
}

.items-portfolio__box-cards{
    
    position: relative;
    overflow: hidden;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    transform: translate(0, 100%);

    padding-top: 63px;
    padding-bottom: 63px;
    padding-right: 24px;
    padding-left: 24px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: rgba(33, 150, 243, 0.9);
}

.items-portfolio__text-dcr{

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--subtitle-color);
    

}

.items-portfolio__text-dcr-name{
    margin-top: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--text-color);
    letter-spacing: 0.03em;
      
}

.work-container{
    display: flex;
    flex-wrap: wrap;
    display: flex;

    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 94px;
}

.items-portfolio__items-text-border{
    padding: 20px 24px 20px 24px;
    border: 1px solid #EEEEEE;
}

.portfolio-links{
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    
} */

               /* Моадльне вікно */
/* .backdrop{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 50;
    background: rgba(0, 0, 0, 0.2);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 4px;
}

.modal-close-btn{
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;

}

.modal-close-btn-icon{
    width: 18px;
    height: 18px;

    transition: fill var(--transition-anime);
}

.modal-close-btn-icon:hover,
.modal-close-btn-icon:focus{
    fill: var(--accent-color);
} */


                /* модальна форма modal-form*/


/* .form-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
}


.modal-form{
    display: flex;
    flex-direction: column;
    align-items: center;

            
}

.modal-form-field{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
    

}

.modal-descr{
    display: block;
    width: 100%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--text-color);
    margin-bottom: 4px;
    
}

.modal-wrapper{
    position: relative;
    
    height: 100%;
}

.modal-form-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    color: var(--subtitle-color);
    transition: border-color var(--transition-anime);
}

.modal-form-input:focus {
    outline: none;
    border-color: var(--accent-color);
}

.modal-form-icon {
    position: absolute;
    
    top:50%;
    left:12px;
    transform: translate(0,-50%);
    display: block;
    width: 18px;
    height: 18px;
    transition:  fill var(--transition-anime);
}

.modal-form-input:focus + .modal-form-icon{
    fill: var(--accent-color);
}

.modal-form-message {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);

    transition: border-color var(--transition-anime);
}

.modal-form-message::placeholder {
    color: rgba(117, 117, 117, 0.5);

}

.modal-form-message:focus{
    outline: none;
    border-color:var(--accent-color);
}

.modal-form-check-desc{
    display: flex;
    align-items: center;
    margin-top: 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.modal-form-check-desc::before{
    display: block;
    width: 16px;
    height: 15px;
    border: 1px solid #212121;
    border-radius: 2px;
    cursor: pointer;
    content: "";
    margin-right: 8px;

}

.modal-form-check:checked + .modal-form-check-desc::before{
    background-color: var(--accent-color);
    background-image: url(../images/svg/icon\ check.svg);
    background-position: 50% 50%;
        
} 

.modal-link{
 color: var(--accent-color);
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.modal-form-check:focus + .modal-form-check-desc::before {
    outline: none;
    border-color: var(--accent-color);
}

.modal-form-submit{
    display: flex;
    
    margin-top: 30px;
    width: 200px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    padding-left: 52px;
    padding-right: 52px;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--accent-color);
    border-radius: 4px;
    
    transition: box-shadow var(--transition-anime), background-color var(--transition-anime);
}

.modal-form-submit:hover,
.modal-form-submit:focus {

    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

}  */