.page-header-container{
    display: flex;
    
}

.page-header {
    border-bottom: 1px solid #ECECEC;
}

.page-nav {
    display: flex;
    align-items: center;
}

.mobile-menu{
    display: inline-block;
    background-color: transparent;
    border: none;
    margin-left: auto;
}

@media screen and (min-width: 768px) {
    .mobile-menu{
        display: none;
    }
    
}

.mobile-menu__icon{
    background-color: transparent;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
    margin-left: 15px;
}

.logo-lab{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
}

.logo-lab,
.footer-logo-social__logo-lab {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;

}

.link {
    position: relative;
    display: block;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--subtitle-color);
    text-decoration: none;
    padding: 32px 0;

    transition: color var(--transition-anime);

    &:hover, 
    &:focus {
    
            color: var(--accent-color);
            fill: var(--accent-color);
    
    }
}

.link-studio {
    position: relative;
    display: block;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--subtitle-color);
    text-decoration: none;
    padding: 32px 0;

    transition: background-color var(--transition-anime);

    &:hover,
    &:focus {
    
        color: var(--accent-color);
        fill: var(--accent-color);
    
    }
}

.link-studio.current::after {
    position: absolute;
    content: "";
    bottom: -1px;
    left: 0;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
}

.link-portfolio {
    position: relative;
    display: block;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--subtitle-color);
    text-decoration: none;
    padding: 32px 0;

    transition: background-color var(--transition-anime);

    &:hover,
    &:focus {
    
        color: var(--accent-color);
        fill: var(--accent-color);
    
    }
}

.current {
    color: var(--accent-color);
}

.link-portfolio.current::after {
    position: absolute;
    content: "";
    bottom: -1px;
    left: 0;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);

}

.link-item {
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-decoration: none;
    margin-left: auto;
    margin-bottom: 10px;

    transition: color var(--transition-anime);

    &:hover,
    &:focus {
    
            color: var(--accent-color);
            fill: var(--accent-color);
    
    }
}

@media screen and(min-width:1200px) {
    .link-item{
        margin-bottom: 0;
    }
    
}

.link-icon-envelop {
    margin-right: 10px;
    width: 16px;
    height: 12px;
    color: var(--text-color);

    transition: fill var(--transition-anime);

    &:hover,
    &:focus {
    
         fill: var(--accent-color);
    }
}

.link-icon-phone {
    margin-right: 10px;
    width: 10px;
    height: 16px;
    color: var(--text-color);

    transition: fill var(--transition-anime);

    &:hover,
    &:focus {
    
        fill: var(--accent-color);
    }
}

.footer-logo-social__link-item-footer:hover,
.footer-logo-social__link-item-footer:focus {

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
}

.items-header {
    display: flex;
    align-items: center;

    margin-left: 88px;
    list-style: none;

}

@media screen and (max-width: 767px) {
    .items-header {
        display: none;
    }

}

.contakts__items-header{
    display: flex;
    align-items: flex-start;
        
    margin-left: auto;
    list-style: none;
}

@media screen and (max-width:767px) {
    .contakts__items-header {
        display: none;

    }

}

@media screen and (min-width:768px) {
    .contakts__items-header{
        flex-direction: column;

    }
    
}
@media screen and (min-width:1200px) {
    .contakts__items-header {
        flex-direction:row;

    }

}

.contakts {
    display: flex;
    align-items: center;

    margin-left: auto;
    list-style: none;

    &:hover,
    &:focus {

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        color: var(--accent-color);
    }

}

@media screen and (max-width:480px) {
    .contakts{
        display: none;
    }
    
}

.letter {
    text-decoration: none;
    margin-right: 10px;

}

.phone {
    text-decoration: none;
    margin-right: 10px;

}

.list-item:first-child {
    margin-left: 0;
}

.box-icons {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 270px;
    height: 120px;
    background: #F5F4FA;
}

.box-icons-items {

    width: 70px;
    height: 70px;

}

.menu-items:not(:last-child) {
    margin-right: 50px;
}