.items-company {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

.list-company {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 92px;

    color: #AFB1B8;
    border: 1px solid var(--text-color);
    border-radius: 4px;
    fill: #AFB1B8;

    transition: fill var(--transition-anime), border var(--transition-anime);
        
        &:hover,
        &:focus {
        
            fill: var(--accent-color);
            border: 1px solid var(--accent-color);
        }
}

@media screen and(min-width:1200px) {
    .list-company{
        width: 170px;
    }
    
}

.client-link {
    display: flex;
    
}

.companies {
    width: 106px;
    height: 60px;

    fill: #AFB1B8;

    transition: var(--transition-anime);

    &:hover,
    &:focus{
        fill: var(--accent-color);
    }
}