.page-header-container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    
}

@media screen and (min-width:480px) {
    .page-header-container {
        width: 450px;
        margin-left: auto;
        margin-right: auto;

    }

}

@media screen and (min-width:768px) {
    .page-header-container {
        width: 768px;

    }
}

@media screen and (min-width:1200px) {
    .page-header-container {
        width: 1200px;

    }
}

.container{
    padding-top: 60px;
    padding-bottom: 60px;

}

@media screen and (min-width:768px) {
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
}

@media screen and (min-width:1200px) {
    .container {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

}

.mobile-list-kontainer {
    display: flex;
    flex-direction: column;


}

// .footer-logo {
//     // display: flex;
    
//     // align-items: flex-start;
//     text-align: center;

//     margin-left: auto;
//     margin-right: auto;
//     padding-top: 60px;
//     padding-bottom: 60px;

// }

// @media screen and (min-width:768px) {
//     .footer-logo{
//         flex-wrap: wrap;
//         justify-content: center;
//     }
    
// }
// .container {
//     display: flex;
//     flex-wrap: wrap;
//     flex-direction: column;
//     align-items: center;


// }

// .container-work {
//     width: 1200px;
//     margin-left: auto;
//     margin-right: auto;
//     padding-left: 15px;
//     padding-right: 15px;

// }

// .container-staff {
//     display: flex;
//     flex-direction: column;

//     width: 1200px;
//     margin-left: auto;
//     margin-right: auto;
//     padding-left: 15px;
//     padding-right: 15px;

// }

// .buttons-container {
//     display: flex;
//     justify-content: center;
//     flex-wrap: wrap;

//     width: 1200px;
//     margin-left: auto;
//     margin-right: auto;
//     padding-left: 15px;
//     padding-right: 15px;
// }