.section {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and(max-width:1199px) {
    .section-wokr {
            display: none;
    }
    
}

.section-staff{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;

    background: #F5F4FA;
}

@media screen and(min-width:1200px) {
    .section-staff{
        padding-top: 94px;
        padding-bottom: 94px;
    }
    
}

.footer{
    height: 603px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;

    background: #2F303A;
}

@media screen and(min-width:1200px) {
    .footer{
        height: 252px;

    }
    
}
















// .section {
//     padding-top: 94px;
//     padding-bottom: 94px;

// }

// .section-wokr {
//     padding-bottom: 94px;
// }

// .section-company {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     width: 1200px;
//     margin-left: auto;
//     margin-right: auto;
//     padding-left: 15px;
//     padding-right: 15px;
// }