.section {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and(max-width:1199px) {
    .section-wokr {
            display: none;
    }
    
}

.section-staff{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;

    background: #F5F4FA;
}



.footer{
    height: 100%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;

    background: #2F303A;
}

@media screen and(min-width:1200px) {
    .footer{
        height: 100%;

    }
    
}

.mobile-section {
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}














// .section {
//     padding-top: 94px;
//     padding-bottom: 94px;

// }

// .section-wokr {
//     padding-bottom: 94px;
// }

// .section-company {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     width: 1200px;
//     margin-left: auto;
//     margin-right: auto;
//     padding-left: 15px;
//     padding-right: 15px;
// }